@charset "UTF-8";
/* для  стилей  общего пользования */
body {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  line-height: 1.75;
  color: #111111;
}

/* добавил этот стиль когда начал делать фест-мобайл подход*/
*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* класс для всех ссылок <a>, убираем подчеркивание и задаем цвет */
.link {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0px auto;
  padding-left: 0px;
  padding-right: 0px;
  width: 336px;
  outline: 1px solid tomato;
}

.header {
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  background-color: #67aefc;
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.nav-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.logo {
  margin-right: 161px;
}

.hero {
  margin: 0 auto;
  background-image: url("../../img/png/hero-mob.png");
  background-repeat: no-repeat;
  background-position: top;
}

.hero .container {
  padding-top: 337px;
}

.hero-container-title {
  font-weight: 800;
  font-size: 27px;
  line-height: 1.2;
  /* or 32px */
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 22px;
}

.hero-container-text {
  margin-top: 0px;
  font-weight: 400;
  line-height: 1.37;
  /* or 22px */
  margin-bottom: 34px;
}

.hero .button {
  width: 100%;
  margin-bottom: 51px;
}

.button {
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 10px;
  background-color: #75e169;
  border: none;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  /* or 26px */
  text-transform: uppercase;
  color: #ffffff;
}

.mobile-button {
  display: contents;
  width: 49px;
  cursor: pointer;
}

.mobile-menu {
  background: rgba(103, 174, 252, 0.95);
  position: absolute;
  left: 0;
  right: 0;
  width: 376px;
  margin: 0 auto;
  border-top: 1px solid #ececec;
  opacity: 0;
  visibility: hidden;
  z-index: 55;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 43px;
}

.mobile-menu-nav {
  text-align: center;
  padding-top: 42px;
  padding-bottom: 49px;
}

.mobile-menu-link-underline::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 100%;
  border: 2px solid #ffffff;
}

.mobile-menu-link {
  position: relative;
  font-weight: 800;
  font-size: 17px;
  line-height: 27px;
  /* identical to box height, or 159% */
  text-transform: uppercase;
  color: #ffffff;
}

.bg-section {
  background-color: #daecff;
  margin: 0 auto;
  width: 375px;
}

.spoiler-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  background-color: white;
  border: none;
  padding-right: 23px;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 57px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 175%;
  /* or 30px */
  color: #111111;
}

.spoiler-button::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #75e169;
  left: 24px;
  top: 22px;
}

.services-item-button-svg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.spoiler-text {
  display: none;
}

.active-service-description {
  display: block;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.764;
  /* or 30px */
  color: #111111;
  padding-left: 57px;
  padding-right: 41px;
  padding-bottom: 46px;
}

.active-service-description::before {
  content: '';
  position: absolute;
  border: 1px solid #111111;
  width: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 236px;
  left: -136px;
}

.spoiler-items {
  position: relative;
  outline: 1px solid tomato;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.764;
  /* identical to box height, or 30px */
  color: #111111;
  border-radius: 10px;
}

.spoiler-items:not(:last-child) {
  margin-bottom: 10px;
}

.services-section-title {
  font-weight: 800;
  font-size: 23px;
  line-height: 36.6px;
  /* or 34px */
  text-align: center;
  color: #111111;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 17px;
}

.services-menu {
  padding-top: 17px;
  padding-bottom: 30px;
}

.spoilers {
  padding-bottom: 30px;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: 78%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  margin: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("/img/svg/btn-to-left.svg") 0 0/100% no-repeat;
  border: none;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("/img/svg/btn-to-right.svg") 0 0/100% no-repeat;
  border: none;
}

.stages-item-title {
  margin: 0;
}

.stages-item-text {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.78;
  /* or 30px */
  color: #111111;
}

.stages-section-title {
  font-weight: 800;
  font-size: 23px;
  line-height: 1.478;
  /* or 34px */
  text-align: center;
  color: #111111;
  margin: 0;
  padding-left: 4px;
  padding-right: 11px;
  padding-top: 42px;
  padding-bottom: 20px;
}

.stages-item {
  border: 2px solid #67aefc;
  border-radius: 15px;
  padding-top: 27px;
  padding-left: 31px;
  padding-right: 27px;
  width: 100%;
  margin-bottom: 130px;
}

.img-slider {
  padding-top: 55px;
  padding-bottom: 60px;
  padding-left: 23px;
}

.examples-section-title {
  font-weight: 800;
  font-size: 23px;
  line-height: 1.48;
  /* or 34px */
  text-align: center;
  color: #111111;
  margin: 0;
  padding-left: 4px;
  padding-right: 12px;
  padding-top: 23px;
  padding-bottom: 14px;
}

.part-examples-section-title {
  display: block;
}

.examples-img {
  border-radius: 15px;
  margin-bottom: 5px;
}

.examples {
  padding-bottom: 115px;
}

.slider-examples {
  position: relative;
}

.slider-examples .slick-arrow {
  position: absolute;
  top: 83%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  margin: 60px;
}

.slider-examples .slick-arrow.slick-prev {
  left: 0;
  background: url("/img/svg/btn-to-left.svg") 0 0/100% no-repeat;
  border: none;
}

.slider-examples .slick-arrow.slick-next {
  right: 0;
  background: url("/img/svg/btn-to-right.svg") 0 0/100% no-repeat;
  border: none;
}
/*# sourceMappingURL=main.css.map */