.bg-section {
  background-color: $bg-section-color;
}
.spoiler-button {
  display: flex;
  text-align: start;
  justify-content: space-between;
  position: relative;
  width: 100%;
  background-color: white;
  border: none;
  padding-right: 23px;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 57px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 175%;
  color: $main-text-color;
  @media screen and (min-width: 1169px) {
    padding-top: 14px;
    padding-left: 96px;
  }
}

.spoiler-button::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $green-color;
  left: 24px;
  top: 22px;
  @media screen and (min-width: 1169px) {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    left: 44px;
    top: 18px;
  }
}

.services-item-button-svg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.spoiler-text {
  height: 0px;
  opacity: 0;
}

.active-service-description {
  display: block;
  background-color: $white-color;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.764;
  color: $main-text-color;
  padding-left: 30px;
  padding-right: 41px;
  padding-bottom: 46px;
  opacity: 1;
  height: 100%;

  @media screen and (min-width: 1169px) {
    padding-left: 54px;
    padding-right: 69px;
    padding-bottom: 59px;
    padding-top: 20px;
    font-size: 18px;
    line-height: 1.8;
  }
}

.active-service-description::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $accent;
  left: 24px;
  top: 22px;
  @media screen and (min-width: 1169px) {
    left: 44px;
    width: 24px;
    height: 24px;
    top: 18px;
  }
}
// .active-service-description::before {
//   content: '';
//   position: absolute;
//   border: 1px solid $main-text-color;
//   height: 69%;
//   width: 1px;
//   left: 29px;
//   top: 89px;

//   @media screen and (min-width: 768px) {
//     height: 54%;
//     top: 63px;
//   }
//   @media screen and (min-width: 1169px) {
//     top: 73px;
//     left: 56px;
//   }
// }

.spoiler-items {
  position: relative;
  // outline: 1px solid tomato;
  background-color: $white-color;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.764;
  color: $main-text-color;
  border-radius: 10px;
}

.spoiler-items:not(:last-child) {
  margin-bottom: 10px;
}

.services-section-title {
  position: relative;
  font-weight: 800;
  font-size: 23px;
  line-height: 36.6px;
  text-align: center;
  color: $main-text-color;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 17px;
  @media screen and (min-width: 768px) {
    padding-top: 16px;
    padding-bottom: 17px;
    font-size: 30px;
    line-height: 1.24;
  }
  @media screen and (min-width: 1169px) {
    padding-top: 112px;
    padding-bottom: 74px;
    font-size: 32px;
    line-height: 1.25;
    text-align: center;
  }
}

.services-section-title::after {
  @media screen and (min-width: 1169px) {
    content: '';
    position: absolute;
    background-image: url('../img/svg/bag-desktop.svg');
    width: 133px;
    height: 148px;
    right: -230px;
    bottom: -371px;
  }
}

.services-menu {
  padding-top: 17px;
  padding-bottom: 30px;
}

.spoilers {
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1169px) {
    padding-bottom: 120px;
  }
}

.services-item-button-svg {
  transform: rotate(0deg);
}

.active-svg {
  transform: rotate(180deg);
}

.spoiler-text-border-left {
  margin: 0;
  border-left: 1px solid;
  padding-left: 25px;
  @media screen and (min-width: 1169px) {
    padding-left: 40px;
  }
}
