.button {
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 10px;
  background-color: $green-color;
  border: none;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  /* or 26px */

  text-transform: uppercase;

  color: $white-color;
  width: 100%;
}

.discuss-img {
  margin: 0 auto;
  width: 285.72px;
}
