/* для  стилей  общего пользования */
body {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  line-height: 1.75;
  color: $main-text-color;
}

/* добавил этот стиль когда начал делать фест-мобайл подход*/
*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* класс для всех ссылок <a>, убираем подчеркивание и задаем цвет */
.link {
  text-decoration: none;
  color: inherit;
}

.section {
  // outline: 1px solid tomato;
  margin: 0 auto;
  width: 100%;
  @media screen and (max-width: 768px) {
    width: 375px;
  }
  @media screen and (min-width: 1169px) {
    max-width: 1920px;
  }
}

.container {
  margin: 0px auto;

  padding-left: 0px;
  padding-right: 0px;
  width: $mobile;
  // outline: 1px solid tomato;

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
