.bg-discuss {
  background-color: $bg-section-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 1169px) {
    background-image: url('../../img/png/bg-discuss-desktop.png');
  }
}

.discuss-section-title {
  font-weight: 800;
  font-size: 23px;
  line-height: 1.48;
  text-align: center;
  color: $main-text-color;
  margin: 0;
  padding-top: 42px;
  padding-bottom: 17px;
  padding-left: 24px;
  padding-right: 31px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1169px) {
    font-size: 32px;
    line-height: 1.25;
    padding-top: 180px;
    padding-bottom: 34px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.discuss-item-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.764;
  /* or 30px */
  text-align: center;
  color: $main-text-color;
  margin-top: 0;
  margin-bottom: 25px;
  width: 100%;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1169px) {
    font-size: 18px;
    line-height: 1.78;
    margin: 0 auto;
    margin-bottom: 27px;
    width: 479px;
  }
}

.discuss-form-input {
  width: 100%;
  background: $white-color;
  border: 1px solid $accent;
  border-radius: 10px;
  height: 58px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  /* identical to box height */

  color: $placeholder-text-color;
  padding-left: 16.75px;
  @media screen and (min-width: 1169px) {
    padding-left: 14px;
    margin-bottom: 20px;
  }
}

.discuss-form-input:hover {
  border: 2px solid $accent;
}
// .discuss-form-input:not(:last-child) {
//   margin-bottom: 10px;
// }

.discuss-form {
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    width: 520px;
    padding-bottom: 1px;
  }
  @media screen and (min-width: 1169px) {
    margin: 0 auto;
    width: 470px;
    padding-bottom: 1px;
  }
}

.discuss-button {
  margin-top: 5px;
  margin-bottom: 42px;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    display: block;
    margin-bottom: 60px;
    // width: 520px;
  }
  @media screen and (min-width: 1169px) {
    // display: block;
    // margin: 0 auto;
    // width: 470px;
    margin-top: 10px;
    margin-bottom: 128px;
  }
}

.discuss-img {
  margin: 0 auto;
  width: 285.72px;
  padding-bottom: 25px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
