.bg-examples {
  background-color: $bg-section-color;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  @media screen and (min-width: 1169px) {
    background-image: url('../../img/png/bg-examples-desktop.png');
  }
}
.examples-section-title {
  font-weight: 800;
  font-size: 23px;
  line-height: 1.48;
  /* or 34px */

  text-align: center;

  color: $main-text-color;

  margin: 0;
  padding-left: 4px;
  padding-right: 12px;
  padding-top: 23px;
  padding-bottom: 14px;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1169px) {
    font-size: 32px;
    line-height: 1.25;
    padding-top: 121px;
    padding-bottom: 51px;
  }
}
.part-examples-section-title {
  display: block;
  @media screen and (min-width: 768px) {
    display: inline;
  }
}

.examples-img {
  border-radius: 15px;
  margin-bottom: 5px;
}

.examples {
  padding-bottom: 115px;
}
