.footer {
  margin: 0 auto;
  width: 100%;
  background-color: $accent;
  @media screen and (max-width: 768px) {
    width: 375px;
  }
}

.footer-logo {
  margin: 0 auto;
  width: 280px;
  height: 66px;
}

.footer-social {
  padding-top: 46px;
}

.footer-contacts-menu {
  position: relative;
  text-align: start;
  padding-left: 80px;
  padding-top: 26px;
  text-transform: capitalize;
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    margin-left: 232px;
  }
  @media screen and (min-width: 1169px) {
    padding-left: 36px;
  }
}

.footer-contacts-items::before {
  content: '';
  position: absolute;
  background-image: url('../../img/svg/viber-hr-cont.svg');
  width: 28px;
  height: 29.4px;
  left: 36px;
  @media screen and (min-width: 1169px) {
    left: 0px;
    width: 21.56px;
    height: 22.5px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.footer-contacts-items:not(:last-child) {
  margin-bottom: 15px;
}

.footer-contacts-items {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  /* or 22px */

  color: $white-color;
  @media screen and (min-width: 1169px) {
    font-size: 20px;
    line-height: 1.2;
    // text-transform: uppercase;
  }
}

.footer-social-icons-svg-fb {
  width: 15.7px;
  height: 30.7px;

  //   fill: #afb1b8;
  //   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons-svg-tg {
  width: 32.96px;
  height: 27px;
}

.footer-social-icons-svg-viber {
  width: 32.84px;
  height: 34px;
}

.footer-social-icons-svg-insta {
  width: 27.82px;
  height: 28px;
}
.footer-social-icons-svg-whatsapp {
  width: 31.85px;
  height: 32px;
}

.footer-social-icons-menu {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 241.1px;
  margin-top: 58px;
  @media screen and (min-width: 1169px) {
    margin: 0;
    width: 270px;
    height: 25px;
    padding-top: 45px;
  }
}

.footer-link-on-site {
  line-height: 1.375;
  /* or 22px */
  color: $white-color;
  text-align: center;
  // &:hover {
  //   color: aqua;
  //   transform: scale(1.2);
  // }
}

.footer-site-adress {
  text-align: center;
  margin-top: 40.58px;
  text-transform: lowercase;
  @media screen and (min-width: 1169px) {
    padding-left: 120px;
    margin-top: 16px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.footer-footnote-text {
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: $white-color;
  padding-top: 23px;
  padding-bottom: 152px;
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    padding-bottom: 25px;
  }
  @media screen and (min-width: 1169px) {
    padding-top: 134px;
    padding-bottom: 79px;
    font-size: 18px;
    line-height: 1.78;
  }
}

.footer-social-icons-border {
  &:hover .footer-social-icons-svg-fb {
    transform: scale(1.2);
  }
  &:hover .footer-social-icons-svg-tg {
    transform: scale(1.2);
  }
  &:hover .footer-social-icons-svg-viber {
    transform: scale(1.2);
  }
  &:hover .footer-social-icons-svg-insta {
    transform: scale(1.2);
  }
  &:hover .footer-social-icons-svg-whatsapp {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 1169px) {
  .foter-mobile {
    display: none;
  }
}
