.header {
  margin: 0 auto;
  width: 100%;
  background-color: $accent;
  @include media-tablet {
    width: 375px;
  }
  // @media screen and (max-width: 768px) {
  //   width: 375px;
  // }
}

.menu {
  display: none;
  @include media-tablet {
    display: flex;
  }
  // @media screen and (min-width: 768px) {
  //   display: flex;
  // }
}

.nav-btn {
  display: none;
  @include media-tablet {
    display: inline-block;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 42px;
    padding-left: 42px;
    border-radius: 5px;
    background-color: $green-color;
    border: 2px solid transparent;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    color: $white-color;
    margin-left: 30px;
    transition: 0.5s;
  }
  // @media screen and (min-width: 768px) {
  //   display: inline-block;
  //   align-items: center;

  //   padding-top: 10px;
  //   padding-bottom: 10px;
  //   padding-right: 42px;
  //   padding-left: 42px;
  //   border-radius: 5px;
  //   background-color: $green-color;
  //   border: 2px solid transparent;
  //   text-align: center;
  //   font-weight: 700;
  //   font-size: 15px;
  //   line-height: 1;
  //   text-transform: uppercase;
  //   cursor: pointer;
  //   color: $white-color;
  //   margin-left: 30px;
  //   transition: 0.5s;
  // }
  &:hover,
  &:focus {
    border: 2px solid $white-color;
    border-radius: 5px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: start;
}

.header-logo {
  margin-top: 9px;
  margin-bottom: 5px;
  @include media-tablet {
    width: 180px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  @mixin media-desktop {
    width: 242px;
    margin-bottom: 18px;
    margin-top: 18px;
  }
  // @media screen and (min-width: $tablet) {
  //   width: 180px;
  //   margin-bottom: 16px;
  //   margin-top: 16px;
  // }
  // @media screen and (min-width: $desktop) {
  //   width: 242px;
  //   margin-bottom: 18px;
  //   margin-top: 18px;
  // }
}

.logo {
  margin-right: auto;
  @include media-tablet {
    margin-right: 139px;
  }
  // @media screen and (min-width: $tablet) {
  //   margin-right: 139px;
  // }
  @mixin media-desktop {
    margin-right: 307px;
  }
  // @media screen and (min-width: $desktop) {
  //   margin-right: 307px;
  // }
}

.menu-item {
  text-transform: capitalize;
  color: $white-color;
  font-size: 10px;
  @mixin media-desktop {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
  }
  // @media screen and (min-width: $desktop) {
  //   font-weight: 600;
  //   font-size: 16px;
  //   line-height: 1.25;
  // }
}

.menu-item:not(:last-child) {
  margin-right: 20px;
  @mixin media-desktop {
    margin-right: 37px;
  }
  // @media screen and (min-width: $desktop) {
  //   margin-right: 37px;
  // }
}
