.header {
  margin: 0 auto;
  width: 100%;
  background-color: $accent;
  @media screen and (max-width: 768px) {
    width: 375px;
  }
}

.menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav-btn {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 42px;
    padding-left: 42px;
    border-radius: 5px;
    background-color: $green-color;
    border: none;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    color: $white-color;
    margin-left: 30px;
  }
  &:hover,
  &:focus {
    border: 2px solid $white-color;
    border-radius: 5px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: start;
}

.header-logo {
  margin-top: 9px;
  margin-bottom: 5px;
  @media screen and (min-width: $tablet) {
    width: 180px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  @media screen and (min-width: $desktop) {
    width: 242px;
    margin-bottom: 18px;
    margin-top: 18px;
  }
}

.logo {
  margin-right: auto;
  @media screen and (min-width: $tablet) {
    margin-right: 139px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 307px;
  }
}

.menu-item {
  text-transform: capitalize;
  color: $white-color;
  font-size: 10px;
  @media screen and (min-width: $desktop) {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
  }
}

.menu-item:not(:last-child) {
  margin-right: 20px;
  @media screen and (min-width: $desktop) {
    margin-right: 37px;
  }
}
