.header {
  // display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  //   position: relative;
  // margin: 0 auto;

  background-color: $header-footer-color;

  // @media screen and (min-width: 375px) {
  //   width: 375px;
  // }
  // @media screen and (min-width: 800px) {
  //   width: 800px;
  // }
  // @media screen and (min-width: 1920px) {
  //   width: 1920px;
  // }
}

.menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-flex;
  }
}

.nav-btn {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-flex;
  }
}
