.hero {
  margin: 0 auto;
  outline: 1px solid tomato;
  // margin-top: 27px;
  background-image: url('../../img/png/hero-mob.png');
  background-repeat: no-repeat;
  background-position: top;
  //   text-align: center;
  width: 100%;
  //   height: 547px;
  @media screen and (min-width: 768px) {
    // width: 1068px;
    background-image: url('../../img/png/hero-desk-top-main-part.png');
    background-repeat: no-repeat;
    background-size: center;
    background-position: center;
    height: 600px;
  }
  @media screen and (min-width: 1169px) {
    max-width: 1920px;
    background-image: url('../../img/png/hero-desk-top-main-part.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 766px;
  }
}

// .hero-container-title {

// }

.hero .container {
  padding-top: 337px;
  //   margin-top: 337px;
  @media screen and (min-width: 768px) {
    padding-top: 220px;
  }
  @media screen and (min-width: 1169px) {
    padding-top: 171px;
  }
}

.hero-container-title {
  font-weight: 800;
  font-size: 27px;
  line-height: 1.2;
  /* or 32px */
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 22px;
  @media screen and (min-width: 768px) {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.22;
    margin-bottom: 20px;
    width: 552px;
  }
  @media screen and (min-width: 1169px) {
    font-weight: 900;
    font-size: 50px;
    line-height: 1.24;
    margin-bottom: 20px;
    width: 705px;
    text-align: start;
  }
}

.hero-container-text {
  margin-top: 0px;
  font-weight: 400;
  line-height: 1.37;
  /* or 22px */
  margin-bottom: 34px;
  @media screen and (min-width: 768px) {
    margin-bottom: 42px;
  }
  @media screen and (min-width: 1169px) {
    margin-bottom: 58px;
    width: 432px;
  }
}

.hero .button {
  width: 100%;
  margin-bottom: 51px;
  @media screen and (min-width: 768px) {
    margin-bottom: 45px;
    width: 270px;
  }
  @media screen and (min-width: 1169px) {
    margin-bottom: 182px;
    width: 270px;
  }
}
