.slider-examples {
  position: relative;
  //   padding-left: 33px;
  //   padding-right: 29px;
}

.slider-examples .slick-arrow {
  position: absolute;
  top: 83%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  margin: 60px;
}

.slider-examples .slick-arrow.slick-prev {
  left: 0;
  background: url('/img/svg/btn-to-left.svg') 0 0 / 100% no-repeat;
  border: none;
  &:hover {
    background: url('/img/svg/btn-to-right-hover.svg');
    transform: rotate(180deg);
  }
}

.slider-examples .slick-arrow.slick-next {
  right: 0;
  background: url('/img/svg/btn-to-right.svg') 0 0 / 100% no-repeat;
  border: none;

  &:hover {
    background: url('/img/svg/btn-to-right-hover.svg');
  }
}
