.bg-stages {
  background-repeat: no-repeat;
  background-position: top;
  @media screen and (min-width: 1169px) {
    background-image: url('../../img/png/bg-image-stages-desk-top.png');
  }
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: 78%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  margin: 60px;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    margin-bottom: 128px;
  }
  @media screen and (min-width: 1169px) {
    margin-bottom: 128px;
    top: 64%;
  }
}

//  background: url('../../img/svg/chevron-down.svg') 0 0 / 100% no-repeat;
//   background-position: center;
//   background-size: contain;
//   border: none;
//   top: 635px;
//   width: 12px;
//   height: 24px;
//   transform: rotate(-90deg);
//   border: 2px solid $accent;
//   border-radius: 15px;
//   padding: 18px 26px 18px 26px;

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url('../img/svg/chevron-down.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  border: 2px solid $accent;
  border-radius: 15px;
  top: 635px;
  fill: green;
  // height: 24px;
  &:hover {
    // background: url('/img/svg/btn-to-right-hover.svg');
    // transform: rotate(180deg);
    fill: green;
  }

  @media screen and (min-width: 768px) {
    left: 30%;
    top: 525px;
  }
  @media screen and (min-width: 1169px) {
    left: 39%;
    top: 415px;
  }
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url('/img/svg/btn-to-right.svg') 0 0 / 100% no-repeat;
  border: none;
  top: 635px;

  &:hover {
    background: url('/img/svg/btn-to-right-hover.svg');
  }

  @media screen and (min-width: 768px) {
    left: 50%;
    top: 525px;
  }
  @media screen and (min-width: 1169px) {
    left: 47%;
    top: 415px;
  }
}

.stages-item-title {
  margin: 0;
  @media screen and (min-width: 1169px) {
    font-weight: 700;
    font-size: 21px;
    line-height: 1.24;
  }
}

.stages-item-text {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.78;
  color: $main-text-color;
  @media screen and (min-width: 1169px) {
    font-size: 18px;
    line-height: 1.4;
  }
}

.stages-section-title {
  font-weight: 800;
  font-size: 23px;
  line-height: 1.478;
  text-align: center;
  color: $main-text-color;
  margin: 0;
  padding-left: 4px;
  padding-right: 11px;
  padding-top: 42px;
  padding-bottom: 20px;
  @media screen and (min-width: 1169px) {
    padding-top: 123px;
    padding-bottom: 82px;
    font-size: 32px;
    line-height: 1.25;
  }
}

.stages-item {
  border: 2px solid $accent;
  border-radius: 15px;
  padding-top: 27px;
  padding-left: 31px;
  padding-right: 27px;
  width: 100%;
  margin-bottom: 130px;
  @media screen and (min-width: 1169px) {
    height: 389px;
    width: 672px;
    margin-right: 25px;
    padding-top: 85px;
    padding-left: 70px;
    margin-bottom: 0px;
  }
}

.img-slider {
  padding-top: 55px;
  // padding-bottom: 60px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

.stages {
  @media screen and (min-width: 1169px) {
    padding-bottom: 272px;
  }
}

.stages-block {
  @media screen and (min-width: 1169px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
