.slider-examples {
  position: relative;
}

.slider-examples .slick-arrow {
  position: absolute;
  top: 83%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  margin: 60px;
}

.slider-examples .slick-arrow.slick-prev {
  left: 0;
  background: url('../img/svg/btn-to-left.svg') 0 0 / 100% no-repeat;
  border: none;
  &:hover {
    background: url('../img/svg/btn-to-right-hover.svg');
    transform: rotate(180deg);
  }
}

.slider-examples .slick-arrow.slick-next {
  right: 0;
  background: url('../img/svg/btn-to-right.svg') 0 0 / 100% no-repeat;
  border: none;

  &:hover {
    background: url('../img/svg/btn-to-right-hover.svg');
  }
}

.examples-items {
  position: relative;
  &:hover .examples-action {
    display: flex;
  }
}

.examples-action {
  display: none;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $accent;
  top: 0;
  left: 0;
  margin: 0;
  color: $white-color;
  transition: $time-transition;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
  @media screen and (min-width: 1169px) {
    width: 97.5%;
    height: 99%;
  }
}

.examples-action-title {
  font-weight: 800;
  font-size: 17px;
  line-height: 1.59;
  text-transform: uppercase;
  color: $white-color;
  margin: 0;

  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 21px;
    line-height: 1.24;
    text-transform: none;
  }
}
.examples-action-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  margin: 0;
  @media screen and (min-width: 1169px) {
    font-size: 17px;
    line-height: 1.764;
  }
}
